{% if this.limit %}
  {% set limit = this.limit %}
{% else %}
  {% set limit = 0 %}
{% endif %}
{% if this.root %}
  {% set root = this.root %}
{% else %}
  {% set root = record.path %}
{% endif %}

<div class="card-deck mx-1">
  {% for item in site.get(root).children %}
  {% if limit == 0 or limit > loop.index0 %}
    <div class="card mb-4" style="min-width: 300px; max-width: 450px;">
      <a href="{{ item.path|url }}">
        <h3 class="card-header">{{ item.title }}</h3>
        {% if item.image %}
          {% set image = site.get(item.path + "/" + item.image) %}
          <img style="width: 100%; height: 10em; object-fit: cover; display: block;" src="{{ image.thumbnail(400)|url }}" alt="{{ image.title }}">
        {% endif %}
      </a>
      {% if item.description %}
        <div class="card-body">
          <p class="card-text">{{ item.description|markdown }}</p>
        </div>

        {% if item.tags %}
        <div class="card-bottom px-3 pb-1">
          <p class="card-text">
          {% for tag in item.tags -%}
          <span class="badge badge-pill badge-info">
            <a class="text-light" href="{{ ('/tag/' ~ tag.lower())|url }}/">
              {{ tag|replace("_", " ") }}
            </a>
          </span>
          {% endfor %}
          </p>
        </div>
        {% endif %}
      {% endif %}
      {% if item.date %}
        <div class="card-footer text-muted text-center">
          {{ item.date|dateformat }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% endfor %}
  </div>

{% if this.more %}
  <a href="{{ root|url }}" class="btn btn-secondary btn-lg btn-block align-middle">{{ this.more }}</a>
{% endif %}
