
    <div class="offset-1 col-10 offset-sm-2 col-sm-8 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6">
        <div class="jumbotron" style="text-align: center;">
                {% for tag, weight in tagweights()|unidecode_dictsort %}
                <a
                    href="{{ ('/tag/' ~ tag.lower())|url }}"
                    class="badge badge-info my-1"
                    style="font-size: {{ weight.log(100, 200)|round|int }}%;"
                    title="{% if weight.count == 1 %}1 article{% else %}{{ weight.count }} articles{% endif %}"
                    >
                        {{ tag|replace("_", " ") }}
                    </a>
                {% endfor %}
            </div>
    </div>
