{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
      <div class="row mx-0 mt-3">
        <div class="col-sm-6 offset-sm-3">
          <h1>{{ this.title }}</h1>
        </div>
      </div>
  {% for item in this.body.blocks %}
          {{ item }}
  {% endfor %}
{% endblock %}
