{% if this.image %}
{% set image = site.get(this.path + "/" + this.image) %}
{% endif %}

<!doctype html>
<html lang="fr">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ "/lib/bootstrap.min.css"|asseturl }}" crossorigin="anonymous">

    <!-- pygment css -->
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <!-- CSS Perso (aussi peu que possible) -->
    <link rel="stylesheet" href="{{ "/static/style.css"|asseturl }}">
    <!-- Commentaires Mastodon -->
    <link rel="stylesheet" href="{{ "/static/mastodon.css"|asseturl }}">

    <!-- Favicon. Généré avec https://realfavicongenerator.net-->
    <link rel="shortcut icon" href="{{ "/static/favicon.ico"|asseturl }}">
    <link rel="apple-touch-icon" href="{{ "/static/apple-touch-icon.png"|asseturl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/static/apple-touch-icon.png"|asseturl }}">
    <link rel="apple-touch-icon" sizes="160x160" href="{{ "/static/apple-touch-icon-160.png"|asseturl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/static/favicon-32x32.png"|asseturl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/static/favicon-16x16.png"|asseturl }}">
    <link rel="manifest" href="{{ "/static/site.webmanifest"|asseturl }}">
    <link rel="mask-icon" href="{{ "/static/safari-pinned-tab.svg"|asseturl }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ "/static/favicon.ico"|asseturl }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ "/static/browserconfig.xml"|asseturl }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="alternate" type="application/atom+xml" title="Ab Absurdo — Blog" href="{{ '/blog@atom/blog'|url }}">

    <title>{% block title %}Bienvenue{% endblock %} — Ab Absurdo</title>

    <!-- Metadata et Open graph protocol -->
    <meta property="og:title" content="{% if this.title %}{{ this.title }}{% else %}{{ config.PROJECT.name }}{% endif %}" />
    <meta property="og:type" content="{% if site.root == this %}website{% else %}article{% endif %}" />
    <meta property="og:url" content="{{ this|url(external=true) }}" />
    <meta property="og:image" content="{% if image %}{{ image|url(external=true) }}{% else %}{{ "/static/logo.png"|url(external=true) }}{% endif %}" />
    <meta property="og:description" content="{% if this.description %}{{ this.description }}{% else %}Site web d'un professeur de mathématiques au lycée.{% endif %}" />
    <meta property="og:locale" content="{{ config.PROJECT.locale }}" />
    <meta property="og:site_name" content="{{ config.PROJECT.name }}" />
    {% if this.date %}<meta property="og:article:published_time" content="{{ this.date }}" />{% endif %}
    <meta property="og:article:author" content="{{ config.PROJECT.author }}" />
    {% for tag in this.tags -%}
    <meta property="og:article:tag" content="{{ tag|replace("_", " ") }}" />
    {% endfor -%}

    <!-- Identité Mastodon -->
    <link rel="me" href="https://mastodon.mim-libre.fr/@louispaternault">
    <meta name="fediverse:creator" content="@louispaternault@mastodon.mim-libre.fr">

    <meta name="description" content="{% if this.description %}{{ this.description }}{% else %}Site web d'un professeur de mathématiques au lycée.{% endif %}" />
    <meta name="author" content="{{ config.PROJECT.author }}" />
    {% if this.tags %}
      <meta name="keywords" content="
        {%- for tag in this.tags -%}
          {{- tag|replace("_", " ") }},
        {%- endfor -%}
      " />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">

    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- Mathjax -->
    <script src="{{ "/static/mathjax.js"|asseturl }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand {% if this._path == '/' %}active{% endif %}" href="{{ '/'|url }}">
        <img id="logo" alt="p∧¬p" src="{{ "/static/logo.png"|asseturl }}" height=16>
        &nbsp;
        Ab Absurdo
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          {% for href, title, dropdown in [
          ['/blog', 'Blog', False],
          ['/cours', 'Cours', False],
          ['/ressources', 'Ressources', True],
          ['/tag', 'Étiquettes', False],
          ['/apropos', 'À propos', False],
          ] %}
            {% if dropdown %}
              <li class="nav-item {% if this.is_child_of(href) %}active{% endif %} dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="{{ title }}" aria-expanded="false">
                  {{ title }}<span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="{{ title }}">
                  {% for item in site.get(href).children %}
                    <a class="dropdown-item" href="{{ item.url_path|url }}">{{ item.title }}</a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item {% if this.is_child_of(href) %}active{% endif %}">
                <a class="nav-link" href="{{ href|url }}">
                  {{ title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div class="container-fluid px-0 mx-0">
      {% if image %}
      <header class="bg-image-full" style="background: url('{{ image.path|url }}') no-repeat center; background-size: 100%;">
        <div class="" style="height: 200px;"></div>
        <div class="row-fluid">
          <div class="col-sm-6 offset-sm-3">
            <p class="px-2" style="background-color: rgba(245, 245, 245, 0.8);">
            <a href="{{ image.url }}">{{ image.title}}</a>,
            de
            {% if image.html_author %}
              {{ image.html_author }}
            {%- else %}
              <a href="{{ image.author_url }}">{{ image.author }}</a>
            {%- endif %},
            {% if image.html_license %}
              {{ image.html_license }}
            {%- else %}
              publié sous licence <a href="{{ image.license_url }}">{{ image.license }}</a>
            {%- endif -%}
            .
            </p>
          </div>
        </div>
      </header>
      {% endif %}

      {% block body %}{% endblock %}

    </div>

    <div class="form-group">
      &nbsp;
    </div>

    <footer class="text-center footer mb-3" id="footer">
      {% if this.copyright %}
        {{ this.copyright }}
      {% else %}
        <a href="/apropos">&copy; 2014-2025</a> Louis Paternault
        —
        Licence <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr">CC by-sa 4.0</a>
      {% endif %}

      <br/>

      <a href="{{ '/blog@atom/blog'|url }}"><img src="{{ "/static/feed.svg"|asseturl }}" alt="Atom feed" height=14 width=14> S'abonner</a>
      —
        <a href="https://mastodon.mim-libre.fr/@louispaternault"><img src="{{ "/static/mastodon.svg"|asseturl }}" alt="Logo Mastodon" height="18"> Me suivre sur Mastodon</a>

      <br/>

      Construit avec <a href="//getlektor.com">Lektor</a> ;
      thème <a href="//bootswatch.com/flatly/">Flatly</a>,
      basé sur <a href="//getbootstrap.com/">Bootstrap</a>

      <br/>

      Hébergé par <a href="//framasoft.org">Framasoft</a> et la <a href="//forge.apps.education.fr">Forge des communs numériques éducatifs</a>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ "/lib/jquery-3.2.1.slim.min.js"|asseturl }}"></script>
    <script src="{{ "/lib/popper.min.js"|asseturl }}"></script>
    <script src="{{ "/lib/bootstrap.min.js"|asseturl }}"></script>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDoNotTrack", true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://stats-web.gresille.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '22']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://stats-web.gresille.org/matomo.php?idsite=22&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->

  </body>
</html>
