{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<article>
<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    <h1 class="mt-2">{{ this.title }}</h1>

    {% if this.toc %}
    <ul class="bg-light">
      {% for item in this.body.toc recursive %}
        {% if this.toc >= loop.depth %}
          <li>
            <a href="#{{ item.anchor }}">{{ item.title }}</a>
            {% if item.children %}
              <ul>
                {{ loop(item.children) }}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    {% if this.tags %}
    <div>
      {% for tag in this.tags -%}
      <span class="badge badge-pill badge-info">
          <a class="text-light" href="{{ ('/tag/' ~ tag.lower())|url }}">
            {{ tag|replace("_", " ") }}
          </a>
      </span>
      {% endfor %}
    </div>
    {% endif %}

  </div>
</div>

{% block content %}
<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    {{ this.body }}
  </div>
</div>
{% endblock %}

{% if this.mastodon_id %}
<aside>
  <div class="row mx-0">
    <div class="col-sm-8 offset-sm-2">
      {% from 'jinjamacros/mastodon.html' import commentaires %}
      {{ commentaires(this.mastodon_id) }}
    </div>
  </div>
</aside>
{% endif %}

</article>

{% endblock %}
