/*
 * Copié et adapté depuis un travail de Veronica Berglyd Olsen
 * https://berglyd.net
 *
 * URL de téléchargement original : https://berglyd.net/css/styles.css?v=60
 *
 * Licence : « The theme and layout of this website was designed by the author, and is not based directly on any other themes. Feel free to snoop around in the generated HTML and CSS and copy things if you want. In particular, JavaScript code related to the comment integration may be of interest. »
 * https://berglyd.net/about/website/
 */

/**
 *  Mastodon Comments
 */

#article-comments {
  border-top: 1px solid hsl(0, 0%, 79%);
  margin: 0.7rem 0;
  max-width: 100% !important;
}

#mastodon-comments-list button {
  background-color: hsl(44, 10%, 90%);
  border: 1px solid hsl(193, 67%, 30%);
  border-radius: 5%;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.08rem;
}

/* Wrapper */

#article-comments div.mastodon-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#article-comments div.reply-original {
  display: none;
}

#article-comments div.reply-child {
  display: block;
  flex: 0 0 1.75rem;
  text-align: right;
}

.comment-level svg {
  width: 1.5rem;
  margin-top: 0.5rem;
  color: hsl(44, 10%, 50%);
}

/* Comment */

#article-comments div.mastodon-comment {
  background-color: hsl(44, 10%, 90%);
  border: 1px solid hsl(0, 0%, 79%);
  border-radius: 0.5rem;
  display: block;
  flex: 1 1 auto;
  font-size: 1rem;
  margin: 0 0 0.75rem 0;
  padding: 0;
}

#article-comments div.comment-meta {
  background-color: hsl(44, 10%, 85%);
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.75rem;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

#article-comments div.comment-avatar {
  display: block;
  flex: 0 0 4rem;
}

#article-comments div.comment-avatar img {
  width: 4rem;
  border-radius: 10%;
  margin-top: 0.15rem;
}

#article-comments div.comment-author {
  display: block;
  flex: 1 1 0;
  white-space: nowrap;
  overflow-x: hidden;
  width: 0;
}

#article-comments div.comment-author-name {
  font-weight: 700;
  margin: 0;
}

#article-comments div.comment-author-name a {
  color: hsl(44, 10%, 10%);
  text-decoration: none;
}

#article-comments div.comment-author-reply,
#article-comments div.comment-date {
  font-size: 0.9rem;
  margin: 0;
}

#article-comments div.comment-author-reply a,
#article-comments div.comment-date a {
  color: hsl(44, 10%, 30%);
  text-decoration: none;
}

#article-comments div.comment-author-reply a:hover,
#article-comments div.comment-date a:hover {
  color: hsl(44, 10%, 30%);
  text-decoration: underline;
}

#article-comments div.comment-content {
  display: block;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
  margin: 0;
}

#article-comments img.comment-emoji {
  height: 0.75rem;
  vertical-align: baseline;
}

#article-comments div.comment-content p {
  margin: 0.7rem 0 0 0;
}

#article-comments div.comment-content p:first-of-type {
  margin: 0;
}
